/*
 * START OF Footer Navbar (Jimmy)
 */

div > .locate {
  padding: 0;
  float: right;
  margin-top: 65vh;
  margin-right: 7vw;
}

a {
  text-decoration: none;
  color: #828358;
 }

a:hover {
  color: black;

}

#navbar {
  height: auto;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #b7dd82;
  padding-top: 1em;
  padding-bottom: 0;
}

#navbar a {
  text-decoration: none;
  color: #828358;
}

#navbar a:hover {
  color: black;
}

/*
 * END OF Footer Navbar (Jimmy)
 * Start of search page -----------------------------------------
 */

#heading {
  font-weight: bold;
  font-size: 20pt;
}

#description {
  display: block;
  font-size: 10pt;
  color: gray;
  font-weight: none;
  margin-left: 7vw;
  padding-bottom: 2vh;
}

#content {
  height: 90vh;
  width: 100vw;
}

h1.display-4.fw-bold{
  color: #BCD39C;
}

p.lead.mb-4{
  color:#8E8358;
}

button.btn {
  background-color: #13b076;
  border: none;
  color: white;
  padding: 10px 24px;
  text-decoration: none;
  margin: 3px 2px;
  cursor: pointer;
  transition-duration: 1s;
  
}

button.btn:hover{
  background-color: #a6fadb;
}

.material-icons.md-60 { 
  font-size: 40px; 
}

.icon-text {
  padding-top: 0;
  text-align: center;
  font-size: 10pt;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 40pt;
  color: black;
}

.material-symbols-outlined.filled {
  font-variation-settings: 
  'FILL' 1;
}

.material-symbols-outlined.search-bar {
  font-size: 15pt;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.material-symbols-outlined.favorite {
  position: absolute;
  top: 10%;
  right: 6%;
  font-variation-settings: 
  'FILL' 0;
  font-size: 30pt;
}

.material-symbols-outlined.recycle-items {
  position:absolute;
  margin-top: 2%;
  top: 0;
  left: 5%;
  font-size: 20pt;
}

.material-symbols-outlined.navigate {
  font-size: 25pt;
  position:absolute;
  top: 7%;
  right: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
}

.search input[type=text] {
  border: 1px solid #ccc;  
  background-color: rgba(162, 162, 162, 0.2);
  border-radius: 15px;
  width: 65vw;
}

.search-title {
  margin-left: 10vw;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.location {
  position: relative;
  margin-top: 4vh;
  width: 85vw;
  height: 20vh;
  background-color: #358600;
  border-radius: 20px;
  box-shadow: 3px 5px rgba(162, 162, 162, 0.2);
}

.location > .types {
  display: block;
  position: absolute;
  top: 5%;
  left: 3%;
  background-color: #63C132;
  border-radius: 10px;
  color: white;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  width: 15vw;
}

.location > img {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.location > #title {
  position: absolute;
  top: 20%;
  left: 18%;
  font-size: 10pt;
  width: 30vw;
  color: black;
  box-shadow: none;
  background-color: transparent;
  font-weight: normal;
  text-align: left;
}

.location.info {
  position: absolute;
  bottom:0;
  height: 50%;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: none;
}

.location.info > .description {
  font-size: 13pt;
  position: absolute;
  top: 6%;
  left: 15%;
}

.location.info > .distance {
  font-size: 10pt;
  font-weight: bold;
  position: absolute;
  bottom: 20%;
  right: 4%;
}

.header{
  background-image: URL("../images/SE06.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  width: 100vw;
  height: 30vh;
  position: sticky;
}

.title-container {
  position: absolute;
  bottom: 3vh;
}

.title-container .title{
  margin-left: 10vw;
  margin-bottom: 0;
  font-weight:bolder;
  font-size: 20pt;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
}

.logo-container .logo {
  font-size: 25pt;
  padding-left: 5vw;
  padding-top: 1vh;
}

.logo-container .text {
  padding-left: 5vw;
  font-size: 12pt;
}

.info .reward {
  display: flex;
  width: 90vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 5vw;
  border-image: none;
  border: 0.1em solid;
  position: unset;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100vw;
  margin-top: 0.5em;
  border-bottom: black solid;
  border-top: black solid;
  border-width: 1px;
}

.content #recyclables {
  display: block;
  padding: 2em;
  font-size: 8pt;
  font-weight: bold;
}

.content #item {
  display: block;
  padding: 2em;
  padding-top: 0;
  font-size: 9pt;
  color: gray;
}

.navigate-button {
  display: flex;
  padding: 2em;
  justify-content: center;
  align-items: center;
}

/*
 * START OF Rewards page CSS (Jimmy) ---------------------------------------------
 */

.main {
  display: grid;
  grid-template-rows: 10vh 10vh 60vh;
  grid-template-columns: 100vw;
}

.congrats {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.time-count {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  margin-top: 1vh;
  position: relative;
  border: 0.2em solid black;
  margin: 1.2em 1.2em;
}

.time-count p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.rewards {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr;
}

.message {
  grid-row: 1 / span 1;
  background-color: #FFF39C;
  position: relative;
}

.message p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  word-spacing: 1em;
  text-transform: capitalize;
}

.reward-container {
  grid-row: 2 / span 1;
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "reward-a reward-c"
                       "reward-b reward-d";
  justify-items: center;
}

.vl {
  border-left: 4px solid #13b076;
  height: 80%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}

.rewards > p {
  text-align: center;
}

.reward-a {
  grid-area: reward-a;
  margin-top: 2vh;
}

.reward-b {
  grid-area: reward-b;
  margin-top: 2vh;
}

.reward-c {
  grid-area: reward-c;
  margin-top: 4vh;
}

.reward-d {
  grid-area: reward-d;
  margin-top: 4vh;
}

.reward {
  width: 80%;
  height: 80%;
  border: 0.5em solid;
  border-image: url('../images/flower_border.png') 30 30 30 stretch;
  position: relative;
}

.reward p:nth-of-type(1) {
  position: absolute;
  right: 5%;
  top: 10%;
  background-color:#ccc;
  border-radius: 0.5em;
  border: 0.1em solid #13b076;
  width: 8em;
  text-align: center;
}

.reward p:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  margin-bottom: 0;
  background-color: #EAFDCF;
  border: 0.1em solid #13b076;
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 1.2em;
  color: rgb(238, 126, 105);
}

.reward p:nth-of-type(1) span{
  font-weight: bold;
}

/*
 * END OF Rewards page CSS (Jimmy)
 */

.recycle-items-container {
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;

}

.recycle-items {
  text-align:center;
  color: #828358;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 40%;
}

.recycle-itmes-img {
width:90%;
}

.recycle-items-caption{
  display: block;

}

/* Start of Facts Page -----------------------------------------------
*/

.facts-title {
  font-size: 20pt;
  font-weight: bold;
  margin-left: 15vw;
  margin-top: 0;
  margin-bottom: 0;
}

.facts-title-description {
  margin-left: 15vw;
  font-size: 10pt;
  color: gray;
}

.facts-container .search {
  margin-top: 5vh;
}

.fact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.fact {
  position: relative;
  margin-top: 4vh;
  width: 85vw;
  height: 10vh;
  background-color: #7cb36c;
  border-radius: 20px;
  box-shadow: 3px 5px rgba(162, 162, 162, 0.2);
}

.fact > img {
  position: absolute;
  top: 10%;
  left: 3%;
  width: 10vw;
  height: auto;
  overflow: hidden;
  object-fit: fill;
}

.fact > .title {
  position: absolute;
  top: 10%;
  left: 18%;
  font-size: 10pt;
  font-weight: bold;
  width: 65vw;
  color: black;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
}

.fact.info {
  position: absolute;
  bottom: 0;
  height: 35%;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: none;
}

.fact.info > .description {
  font-size: 12pt;
  position: absolute;
  top: 6%;
  left: 5vw;
}

.fact > img.glass {
  width: 5vw;
  left: 6%;
  top: 13%;
}

/*
 * START OF Account page CSS (Jimmy) ---------------------------------------------
 */
.list-group-flush {
  margin-top: 10vh;
  font-size: 1.2em;
}

.list-group-item {
  margin: 2vh;
  text-align: left;
}

.breadcrumb {
  margin-top: 5vh;
  margin-left: vh;
}

.logout-btn {
  margin-top: 3vh;
}

/*
 * END OF Account page CSS (Jimmy)
 */

/*
 * START OF Profile page CSS (Jimmy) ---------------------------------------------
 */

.main-section {
  height: 100vh;
  margin-top: 0;
}

.card-header {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,249,89,1) 0%, rgba(0,212,255,1) 100%);
}

.vh-100 h5{
  color: black;
}


