@font-face {
  font-family: "myFont";
  src: url("../text/fonts/VarelaRound-Regular.ttf");
}

* {
  font-family: "myFont";
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*
 * START OF Footer Navbar (Jimmy)
 */

#backButton {
  position: absolute;
  top: 5vh;
  left: 5vw;
}

div>.locate {
  padding: 0;
  float: right;
  margin-top: 65vh;
  margin-right: 7vw;
}

a {
  text-decoration: none;
  color: #828358;
}

a:hover {
  color: black;

}

#navbar {
  height: auto;
  font-size: 0.5em;
  font-weight: bold;
  background-color: #b7dd82;
  padding-top: 1em;
  padding-bottom: 0;
  border-radius: 20px 20px 0 0;
}

#navbar a {
  text-decoration: none;
  color: #828358;
}

#navbar a:hover {
  color: black;
}

#navbar .container {
  width: 98vw;
  height: 7.5vh;

  display: flex;
  justify-content: space-between;
}

/*
 * END OF Footer Navbar (Jimmy)
 * Start of search page -----------------------------------------
 */

#heading {
  font-weight: bold;
  font-size: 20pt;
}

#description {
  display: block;
  font-size: 10pt;
  color: gray;
  font-weight: none;
  margin-left: 7vw;
}

#content {
  height: 90vh;
  width: 100vw;
}

h1.display-4.fw-bold {
  color: #BCD39C;
}

p.lead.mb-4 {
  color: #8E8358;
}

button.btn {
  background-color: #13b076;
  border: none;
  color: white;
  padding: 5px 24px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 1s;
}

button.btn:hover {
  background-color: #a6fadb;
}

.material-icons {
  transform-origin: 50% 0%;
}

.material-icons.md-60 {
  font-size: 40px;
}

.icon-text {
  padding-top: 0;
  text-align: center;
  font-size: 10pt;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 40pt;
  color: black;
}

.material-symbols-outlined.filled {
  font-variation-settings:
    'FILL' 1;
}

.material-symbols-outlined.search-bar {
  font-size: 15pt;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.material-symbols-outlined.favorite {
  position: absolute;
  top: 10%;
  right: 6%;
  font-variation-settings:
    'FILL' 0;
  font-size: 30pt;
}

.material-symbols-outlined.recycle-items {
  font-size: 20pt;
}

.material-symbols-outlined.navigate {
  font-size: 25pt;
  position: absolute;
  top: 7%;
  right: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
}

.search input[type=text] {
  border: 1px solid #ccc;
  background-color: rgba(162, 162, 162, 0.2);
  border-radius: 15px;
  width: 65vw;
}

.search-title {
  margin-left: 10vw;
}

.location {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-in {
  opacity: 1;
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

/* Style the dropdown button */
.dropdown-button {
  background-color: gray;
  border-radius: 5px;
  color: white;
  min-width: fit-content;
  font-size: 12pt;
  border: none;
  cursor: pointer;
}

/* Show dropdown content when hovering over the button */

/* .dropdown-button:hover + .dropdown-content {
  display: block;
} */

/* Dropdown selection decoration */
.dropdown-content span {
  padding: 1em 1.2em 0.5em 1.2em;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  cursor: pointer;
  background-color: #888888;
}

.dropdown-content a:active {
  background-color: #888888;
}

/* Adjust input style in the dropdown */
.dropdown-content input[type="text"] {
  width: 83px;
  height: 20px;
  padding: 1em;
  margin: 0;
}

.dropdown-content .sort {
  border: none;
  width: 83px;
  background-color: #358600;
  color: white;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.location {
  position: relative;
  margin-top: 4vh;
  width: 85vw;
  height: 17vh;
  background-color: #358600;
  border-radius: 20px;
  box-shadow: 3px 5px rgba(162, 162, 162, 0.2);
}

.location>.types {
  display: block;
  position: absolute;
  top: 5%;
  left: 3%;
  background-color: #63C132;
  border-radius: 10px;
  color: white;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  width: 15vw;
  cursor: pointer;
}

.location>img {
  position: absolute;
  top: 20%;
  left: 3%;
  width: 10vw;
  height: 5vh;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
}

.location>#title {
  position: absolute;
  top: 3vh;
  left: 3%;
  font-size: 15pt;
  font-weight: bold;
  color: white;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
}

.location.info {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  height: 10vh;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: none;
}

.location.info>.description {
  font-size: 13pt;
  padding-left: 3em;
  padding-top: 0.4em;
}

.location.info>.icon-container {
  position: absolute;
  margin-top: 2%;
  top: 0;
  left: 6%;
  display: inline-flex;
  flex-direction: column;
}

.location.info>.distance {
  font-size: 10pt;
  font-weight: bold;
  position: absolute;
  bottom: 20%;
  right: 4%;
}

.header {
  background-color: #51bf07;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  width: 100vw;
  height: 21vh;
  position: sticky;
}

.title-container {
  position: absolute;
  bottom: 3vh;
}

.title-container .title {
  margin-left: 10vw;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: 20pt;
  color: white;
}

.logo-container {
  align-items: center;
  width: 100vw;
}

.logo-container .logo {
  padding-left: 5vw;
  padding-top: 5vh;
}

.logo-container .text {
  padding-left: 5vw;
  font-size: 16pt;
}

.info .reward {
  display: flex;
  width: 90vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 5vw;
  border-image: none;
  border: 0.1em solid;
  position: unset;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100vw;
  margin-top: 0.5em;
  border-bottom: black solid;
  border-top: black solid;
  border-width: 1px;
}

.content #recyclables {
  display: block;
  padding: 2em;
  font-size: 8pt;
  font-weight: bold;
}

.content #item {
  display: block;
  padding: 2em;
  padding-top: 0;
  font-size: 9pt;
  color: gray;
}

.navigate-button {
  display: flex;
  padding: 2em;
  padding-bottom: 13vh;
  justify-content: center;
  align-items: center;
}

/* Start of Facts Page -----------------------------------------------
*/

.facts-title {
  font-size: 20pt;
  font-weight: bold;
  margin-left: 15vw;
  margin-top: 5vh;
  margin-bottom: 0;
}

.facts-title-description {
  all: unset;
  margin-left: 15vw;
  font-size: 10pt;
  color: gray;
}

.fact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.fact {
  position: relative;
  margin-top: 4vh;
  width: 85vw;
  height: 10vh;
  background-color: #7cb36c;
  border-radius: 20px;
  box-shadow: 3px 5px rgba(162, 162, 162, 0.2);

  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fact.slide-in {
  opacity: 1;
}

.fact>i {
  padding: 25px 0 0 15px;
}

.fact>.title {
  position: absolute;
  top: 10%;
  left: 18%;
  font-size: 10pt;
  font-weight: bold;
  width: 65vw;
  color: black;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
}

.facts-body {
  padding-bottom: 13vh;
}

.fact.info {
  position: absolute;
  bottom: 0;
  height: 35%;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: none;
}

.fact.info>.description {
  font-size: 12pt;
  position: absolute;
  top: 6%;
  left: 5vw;
}

.fact>img.glass {
  width: 5vw;
  left: 6%;
  top: 13%;
}

/*
 * START OF Account page CSS (Jimmy) ---------------------------------------------
 */
.list-group-flush {
  margin-top: 10vh;
  font-size: 1.2em;
}

.list-group-item {
  margin: 2vh;
  text-align: left;
}

.breadcrumb {
  margin-top: 5vh;
}

.logout-btn {
  margin-top: 3vh;
}

/*
 * END OF Account page CSS (Jimmy)
 */

/*
 * START OF Rewards page CSS (Jimmy)
 * 
 * Reference: https://codepen.io/superjaberwocky/pen/rLKxOa
 */

.callout {
  padding: 1vh;
  margin: 1vh 0;
  border: 1px solid #eee;
  border-left-width: 8px;
  border-radius: 3px;
  border-left-color: rgb(192, 210, 161);
  height: 15vh;
}

.callout h3 {
  margin-top: 0;
  margin-bottom: 3vh;
  color: rgb(192, 210, 161);
  font-size: 1.3em;
}

.callout p:nth-of-type(1) {
  font-size: 1em;
  font-weight: bold;
}

.callout p:nth-of-type(2) {
  font-size: 1em;
}

.callout span {
  font-weight: bold;
}

#tab-navs {
  padding-top: 5vh;
}

#tab-navs button {
  color: rgb(96, 131, 36);
}

#tab-navs button:focus {
  color: black;
  font-weight: bold;
}

#nav-tabContent .card {
  height: 30vh;
}

#tab-navs .nav-tabs {
  font-size: 0.75em;
}

#tab-navs .card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "card1 card2";
  max-height: 25vh;
  width: 100vw;
}

#level-1-card-1 {
  grid-area: card1;
  margin-bottom: 4vh;
}

#level-1-card-2 {
  grid-area: card2;
}

#tab-navs .card-body {
  width: 70vw;
  height: 100%;
  font-size: 1.1em;
  padding: 0;
}

.card-img-top {
  height: 20vh;
  width: 20vw;
  align-self: center;
  object-fit: scale-down;
  margin-left: 1vh;
}

.card-href {
  background-color: rgb(192, 210, 161);
  border-color: white;
  font-weight: bold;
}

.card-title {
  font-size: 0.9em;
}

.card-length {
  font-size: 0.9em;
}

.card-href:hover {
  background-color: rgb(96, 131, 36);
}

.claim-reward {
  color: white;
}

/*
 * END OF Rewards page CSS (Jimmy)
 */


/*
 * START OF Profile page CSS (Jimmy) ---------------------------------------------
 */

.main-section {
  height: 100vh;
  margin-top: 0;
}

.card-header {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(163, 249, 89, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.vh-100 h5 {
  color: black;
}

#history-section {
  margin-top: 1.5vh;
}

/*
 * END OF Profile page CSS (Jimmy) ---------------------------------------------
 */

/*
 * START OF Map page CSS (Jimmy) ---------------------------------------------
 */

#map-title {
  text-align: center;
  color: rgb(192, 210, 161);
  font-size: 2.2rem;
  margin-bottom: 2vh;
  padding-top: 3vh;
}

#map {
  width: 90%;
  margin: 0 auto;
  height: 40vh;
  margin-bottom: 4vh;
}

#red {
  font-size: 1.1em;
  color: rgb(223, 96, 76);
  font-weight: bold;
}

#black {
  font-size: 1.1em;
  font-weight: bold;
}

.accordion {
  margin-top: 10vh;
}

.accordion-button {
  font-size: 2.5vh;
}

.accordion-body {
  font-size: 2vh;
}

.accordion-body p {
  margin-top: 1vh;
}

/*
 * END OF Map page (Jimmy) ---------------------------------------------
 */

/*
 * START OF History page (Jimmy)
 */

.history-card {
  width: 90%;
  margin: 0 auto 2vh auto;

}

#history-page-title {
  width: 100%;
  font-size: 1.8rem;
}

#btns-group {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 3vh;
  margin-top: 4vh;
}

.option {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.option-text {
  grid-row: 1 / span 1;
  grid-column: 1 /span 1;
  text-align: right;
  padding-top: 1vh;
  padding-right: 1vw;
}

.option-btn {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  width: 90%;
  max-height: 4vh;
  padding: 1vh auto;
}

.option-menu li {
  text-align: center;
  padding-top: 0.75vh;
  padding-bottom: 0.75vh;
}

.option-menu li:hover {
  cursor: pointer;
}

.option-menu li:nth-last-of-type(n+2) {
  border-bottom: 1px grey solid;
}

#clear-btn {
  display: flex;
  flex-direction: row;
  align-self: start;
  height: 6vh;
  margin-left: 5vw;
}

#clear-btn button {
  background-color: rgb(247, 85, 60);
}

.modal-clear .btn-secondary {
  background-color: rgb(247, 85, 60);
}

#sort-options {
  display: block;
}

/*
 * END OF History page (Jimmy)
 */

/*
 * START OF Langauge page (Jimmy)
 */

.language-title {
  margin-bottom: 6vh;
}

.language p {
  margin-top: 2vh;
}


.form-switch {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7fr 3fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 5vh;
  padding-bottom: 5vh;
  border-bottom: 1px grey solid;
}

.language .form-check-label {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  height: 1.5vh;
  width: 30vw;
  margin-left: 5vw;
  font-size: 1.5rem;
  text-align: center;
}

.language .form-check-input {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  height: 3vh;
  width: 15vw;
  margin-top: 0.7vh;
}

.form-check-input:checked {
  background-color: rgb(192, 210, 161);
}

/*
 * END OF Langauge page (Jimmy)
 */

/* START OF Title Page CSS ------------------------------------------- */

.main-body {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Container for animation. */
.main-body .title {
  display: flex;
  flex-direction: column;

  font-size: 26pt;
  font-weight: bold;
  text-align: center;
  padding-top: 0.3em;

}

.main-title {
  margin-bottom: -5px;
  background: white;
  position: relative;
  animation: text 1.3s 1;
}

/* Description span. */
#main-title-description {
  font-size: 14pt;
  color: gray;
}

@keyframes text {
  0% {
    color: white;
    margin-bottom: -30px;
  }

  70% {
    margin-bottom: -30px;
  }
}

.main-body>.content {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100vw;
  margin-top: 5vh;
}

.fact-of-the-day-container {
  display: inline-flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 1vh;
  margin-top: 2em;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.2);
}

.fact-of-the-day-container>h5 {
  text-align: center;
  font-weight: bold;
  color: #63C132;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.fact-of-the-day-container .dailyFact {
  text-align: center;
}

.main-icon-container {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.main-icon-container>img {
  width: 25vw;
}

.main-title {
  font-size: 40pt;
}